:root {
  --color-bg-toggle: #271919a1;
  --color-bg-toggle-hover: #5e3b3ba1;
}

div.password-input {
  width: 100%;
}

div.password-input div.text-input-container {
  width: 100%;
}

div.password-input div.text-input-container span.input-icon {
  top: 0;
  right: 0;
  padding: 2px;
  width: auto;
  height: 100%;
}

div.password-input button.toggle-password {
  padding: 0 10px;
  height: 100%;
  border: none;
  border-radius: 5px;
  background: var(--color-bg-toggle);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-left: 5px;
  cursor: pointer;
}

div.password-input button.toggle-password:hover {
  background: var(--color-bg-toggle-hover);
}