section.change-password-container {
  background: white;
  border-radius: 16px;

  display: flex;
  flex-direction: column;
  gap: .5rem;
}

section.change-password-container div.change-password-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem;

  position: relative;
}

section.change-password-container div.change-password-header button {
  font-size: 20px;
  font-weight: 600;
  color: white;
  padding: .5rem;

  height: min-content;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  border-radius: 4px;
  background: #f01515;

  cursor: pointer;

  box-shadow: 4px 4px rgba(0, 0, 0, 0.1);
}

section.change-password-container div.change-password-header button:hover {
  background: #c41313;
}

section.change-password-container div.change-password-area {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  gap: .7rem;
}

section.change-password-container span.message {
  display: flex;
  align-items: center;
  gap: .7rem;
  padding: .5rem .7rem;

  background: #fc1919a1;

  border-radius: 8px;

  font-size: 14px;
  font-weight: 400;
  color: white;
}

section.change-password-container div.change-password-actions {
  display: flex;
  gap: .5rem;
  padding: 1rem;
}

section.change-password-container div.change-password-actions button {
  width: 100%;
  padding: .4rem;
  border-radius: 8px;
  border: 1px solid #b1b1b1;

  font-size: 16px;
  font-weight: 600;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

section.change-password-container div.change-password-actions button.submit {
  background: #0054e5;

  color: white;
}

section.change-password-container div.change-password-actions button.submit:hover {
  background: #085ef3;
}

section.change-password-container div.change-password-actions button.cancel:hover {
  background: #d8d8d8;
}